*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.explorer {
    display: flex;

    height: calc(100vh - 90px);
}

aside {
    background-color: black;
    width: 230px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #a3a3a3;
    font-weight: bold;
    padding: 20px 20px 0;

    overflow-y: auto;
    overflow-x: hidden;
}

aside button {
    background-color: transparent;
    color: white;
    border: none;
}

aside button span {
    font-weight: bold;
}

.top-side {
    display: flex;
    flex-direction: column;
    gap: 28px;

    overflow: hidden;

}

.logo img {
    width: 135px;
}

.logo .small {
    display: none;
}



.logo {
    height: 90px;
    width: 230px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    
    list-style-type: none;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 6px;

    text-decoration: none;
    font-size: 12px;
    font-weight: bold;

    color: inherit;
}

.menu img {
    height: 20px;
}

.playlist {
    overflow-y: hidden ;
}
/* .create-playlists, .playlist-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
    
} */

.playlist h2 {
    font-size: 12px;
    font-weight: bold;
    color: white;

    margin-bottom: 14px;
}

.playlist button {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 22px;
}

.playlist .playlist-name {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    overflow-y: auto;

    gap: 12px;
    
     max-height: calc(100% - 87px);
}

.playlist button .fa-solid {
    display: inline-block;

    background-color: #a3a3a3;
    color: black;

    padding: 9px 10px 11px;

    font-size: 17px;
}


.bottom-side {
    display: flex;
    flex-direction: column;

    padding-bottom: 8px;
    padding-top: 12px;
}

.bottom-side button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-side .install-app {
    margin-bottom: 10px;
}

.bottom-side .install-app img {
    height: 12px;
}

.bottom-side hr {
    margin-bottom: 14px;
}

.bottom-side .profile-button {
    font-size: 14px;
}

.bottom-side .profile-button span {
    font-weight: bold;
}

.bottom-side .profile-button img {
    width: 25px;
    height: 25px;

    object-fit: cover;
    object-position: top;

    background-color: #808080;

    border-radius: 50%;

}

/* fine aside */
main {
    background-color: #183d1d;
    /* test */

    width: calc(100% - 230px);

    overflow-y: auto;

    background-color: #141922;
    color: white;

    padding: 90px 20px 20px;

}

.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    text-align: right;

    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;

    list-style-type: none;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.selector {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.album {
    width: calc(100% / 6 - 16px / 6 * 5);
    max-width: 200px;
}

.album .cover {
    margin-bottom: 16px;
}

.album .cover img {
    width: 100%;
}

.album .text {
    text-align: center;
}

.album .text .title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;

}

footer {
    background-color: #08bb2f;
    /* test */

    height: 90px;
}

/* media query */

@media screen and (max-width: 992px) {


    .selector .album {
        width: calc(100% / 4 - 16px / 4 * 3);
    }

}



@media screen and (max-width: 768px) {
    .selector .album {
        width: calc(100% / 2 - 16px / 2);
    }
}
