*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.explorer {
    display: flex;

    
}

aside {
    background-color: #1d9b38;
    /* test */
    width: 230px;
    height: 100%;
}